:root {
  --color-primary: #4a6fa5;
  --color-primary-dark: #253752;
  --color-background: #181818;
  --color-dark: #1D1D1D;
  --color-row: #2A2A2A;
  --color-row-odd: #353535;
  --color-button-light: #6c757d;
  --color-box: #2A2A2A;
  --color-text: #ddd;
  --color-text-soft: #dddddd86;
  --color-text-clickable: #9fecff;
  --color-border: #e0e0e0;
  --color-border-soft: #81818144;
  --color-transparent: #00000000;

  /* Tier Colors */
  --color-tier-1: #6ed0f61c;  /* Cold Blue */
  --color-tier-2: #56b3e91c;  /* Sky Blue */
  --color-tier-3: #45b8ad1a;  /* Teal */
  --color-tier-4: #65c18b1e;  /* Mint */
  --color-tier-5: #a3d9771c;  /* Lime Green */
  --color-tier-6: #f3e6831f;  /* Yellow */
  --color-tier-7: #f6c2671c;  /* Orange-Yellow */
  --color-tier-8: #f08d5b1f;  /* Orange */
  --color-tier-9: #e6695e21;  /* Coral */
  --color-tier-10: #d6454521; /* Red */

  /* Rating Colors */
  --color-rating-1: #94c47d17;
  --color-rating-2: #abd0991c;
  --color-rating-3: #c3b2931e;
  --color-rating-4: #e066661c;

  --color-emperor: #630404;
  --color-empress: #525252;
  --color-king: #844AC2;
  --color-queen: #844AC2;
  --color-archduke: #45AAF7;
  --color-lord: #009900;
  --color-duke: #2B2828;
  --color-prince: #00FFCC;
  --color-earl: #7D7777;
  --color-sir: #FF6200;
  --color-count: #54AB31;
  --color-baron: #C567E0;
  --color-knight: #D91818;
  --color-noble: #9477D4;
  --color-esquire: #45AAF7;
  --color-jester: #3EBBA0;
  --color-plebeian: #66924C;
  --color-peasant: #AFE06C;
  --color-peon: #8C785D;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
.button-group {
  display: flex;
  gap: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-bottom: none;
  margin-bottom: 0;
}
.toggle-btn {
  background: var(--color-box);
  color: var(--color-text);
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  border: none;
  border-radius: 0;
  flex: 1;
}
.toggle-btn:hover {
  background: var(--color-primary) !important;
  color: var(--color-text);
}

.toggle-btn.active {
  background: var(--color-primary) !important;
  color: var(--color-text);
  font-weight: bold;
}
